@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&display=swap')

@tailwind base;
@tailwind components;
@tailwind utilities;


*{  
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Darker Grotesque", sans-serif;
    
}
.shadow-outer {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 
                0 12px 24px rgba(0, 0, 0, 0.2);
  }

  .shadow-inner {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }


  @keyframes shimmer {
    0% {
      background-position: -1000px 0;
    }
    100% {
      background-position: 1000px 0;
    }
  }
  
  .shimmer {
    animation: shimmer 1.5s infinite linear;
    background: linear-gradient(to right, #f6f7f8 4%, #edeef1 25%, #f6f7f8 36%);
    background-size: 1000px 100%;
    position: relative;
    overflow: hidden;
  }
  
  .shimmer::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #f6f7f8 0%, #e2e2e2 20%, #f6f7f8 40%, #f6f7f8 100%);
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite;
  }